<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Wiki Content">
    <meta name="author" content="Ethan Marrs">

    <title>Wiki Contents</title>

    <link rel="stylesheet" href="/static/css/form.css" type="text/css" />
    <!-- JavaScript -->
    <script type="text/javascript"
            src="/static/scripts/jquery-2.0.3.min.js"></script>
    <script type="text/javascript"
            src="/static/scripts/deform.js"></script>

  </head>

  <body>
    {% block content %}
        <p>No content</p>
    {% endblock content %}
  </body>
</html>
